div{
  box-sizing: border-box;
  vertical-align: top;
}

.sidebar{
  display: inline-block;
  width: 150px;
  border-right: 3px solid gray;
  margin-right: 5px;
  height: 500px;
}

.main-content{
  display: inline-block;
}